@charset "UTF-8";

h1{
    text-align: center;
    font-size: 24px;
  }
  
  strong{
    color: royalblue;
  }

  h2{
    font-size: 20px;
    color: goldenrod;
  }

  h3{
    font-size: 16px;
    color: fuchsia;
  }

  footer{
    color: royalblue;
    }
